<%- 
  title @article.title
  description "#{markdown(@article.body).gsub(%r{</?[^>]+?>}, '')[0...300]}..."
  legacy
-%>
<div class="relative overflow-hidden">
  <div class="absolute left-0 right-0 z-0 top-1/4 text-blue js-background-swoop">
    <svg width="1429" height="400" viewBox="0 0 1429 400" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M-306 389C-212.482 329.784 46.5801 211.351 334.68 211.351C694.804 211.351 658.127 342.389 971.099 342.389C1221.48 342.389 1355.52 118.13 1418 6"
        stroke-width="24" />
    </svg>
  </div>

  <div class="relative z-10 max-w-4xl px-4 py-16 mx-auto h-entry sm:px-8">
    <div class="mb-12">
      <h1 class="mb-4 text-2xl font-extrabold p-name font-display sm:text-4xl">
        <%= @article.title %>
      </h1>

      <p class="text-gray-100">
        <time class="dt-published" datetime="<%= @article.publish_at.to_datetime.iso8601 %>">
          <%= @article.publish_at.to_datetime.strftime('%B %e, %Y') %>
        </time> by <a href="https://twitter.com/<%= @article.author_twitter %>" rel="noopener"
          class="p-author"><%= @article.author_name %></a>
      </p>
    </div>
    <div class="e-content text-content">
      <%= markdown @article.body %>
    </div>
  </div>

  <div class="p-4 mx-auto max-w-7xl sm:px-8">
    <footer
      class="items-center max-w-xl p-6 mx-auto space-y-4 bg-gray-900 md:max-w-2xl md:p-10 rounded-2xl sm:flex sm:space-y-0 sm:space-x-6">
      <div class="space-y-4 text-sm sm:text-base">
        <p>
          <strong><%= @article.author_name %> wrote this.</strong> Got something
          to add? Continue the conversation on Twitter!
        </p>

        <a href="https://twitter.com/intent/tweet?screen_name=<%= @article.author_twitter %>&ref_src=twsrc%5Etfw"
          class="twitter-mention-button" data-show-count="true" data-size="large"
          data-url="<%= article_url(@article.slug) %>" data-related="<%= @article.author_twitter %>">
          Tweet to @<%= @article.author_twitter %>
        </a>

        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </footer>
  </div>

  <%= render "partials/get-started" %>
</div>