<!-- prettier-ignore -->
<div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-simulate gap-4">
  <div class="md:col-span-2">
    <%= render partial: "partials/home/simulate_maybes/cards/card_1", layout: "partials/home/feature_card" %></div>
  <div>
    <%= render partial: "partials/home/simulate_maybes/cards/card_2", layout: "partials/home/feature_card" %></div>
  <div class="md:row-span-2">
    <%= render partial: "partials/home/simulate_maybes/cards/card_3", layout: "partials/home/feature_card" %></div>
  <div class="md:col-span-2">
    <%= render partial: "partials/home/simulate_maybes/cards/card_4", layout: "partials/home/feature_card" %></div>
  <div class="md:col-span-2">
    <%= render partial: "partials/home/simulate_maybes/cards/card_5", layout: "partials/home/feature_card" %></div>
</div>