<!-- prettier-ignore -->
<div class="max-w-6xl mx-auto grid grid-cols-1 lg:grid-cols-track gap-4">
  <div><%= render partial: "partials/home/track_everything/cards/card_1", layout: "partials/home/feature_card" %></div>
  <div class="lg:col-span-2">
    <%= render partial: "partials/home/track_everything/cards/card_2", layout: "partials/home/feature_card" %></div>
  <div class="lg:col-span-2">
    <%= render partial: "partials/home/track_everything/cards/card_3", layout: "partials/home/feature_card" %></div>
  <div class="lg:row-span-2">
    <%= render partial: "partials/home/track_everything/cards/card_4", layout: "partials/home/feature_card" %></div>
  <div class="lg:col-span-2">
    <%= render partial: "partials/home/track_everything/cards/card_5", layout: "partials/home/feature_card" %></div>
</div>