<section class="relative overflow-hidden pt-24 -mt-24 pb-8 sm:pb-22 px-8 md:px-0">
  <div class="mt-18 relative flex flex-col items-center z-10 mx-auto max-w-7xl text-center">
    <h1 class="font-display text-4xl md:text-5xl font-semibold">
      <span class="gradient-heading">Your</span>
      <span class="gradient-heading">financial</span>
      <span class="gradient-heading">future,</span>
      <br class="hidden sm:inline" />
      <span class="gradient-heading">in</span>
      <span class="gradient-heading">your</span>
      <span class="gradient-heading">control</span>
    </h1>

    <p class="mt-1 text-lg sm:max-w-xl text-gray-50">
      Track all your accounts in one place, simulate scenarios, get advice from qualified financial advisors, and much
      more
    </p>

    <a href="https://app.maybe.co/register"
      class="mt-7 py-2 px-4 font-medium text-base text-black bg-white hover:bg-gray-25 rounded-lg transition-colors duration-50">
      Get Started
    </a>
  </div>

  <div class="relative w-full -my-52 sm:-my-32 md:-my-16 flex justify-center items-center" style="height: 900px">
    <div class="relative">
      <div class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 select-none pointer-events-none"
        style="
          width: 185.2%;
          height: 194.5%;
          background-image: url('/img/home/grid-tunnel.svg');
          background-position: center;
          background-size: 100%;
      ">
        <div class="absolute inset-0 shadow-edge-sm md:shadow-edge-md lg:shadow-edge-lg"></div>
      </div>
      <!-- Glow -->
      <div class="absolute inset-0" style="
          background-image: conic-gradient(
            from 10deg,
            #52edff,
            #7209b7,
            #f12980,
            #4361ee,
            #52edff
          );
          filter: blur(100px);
        "></div>
      <!-- Outer border/shine -->
      <div id="preview-wrapper" class="relative p-px" style="
          --mx: 0;
          --my: 0;
          background-image:
            radial-gradient(20% 20% at calc(80% + var(--mx) * 10%) 0%, #3BC9DB, transparent),
            radial-gradient(20% 20% at calc(20% - var(--mx) * 10%) 100%, #F12980, transparent),
            linear-gradient(170deg, rgba(76, 201, 240, 0) 15.64%, #7209B7 45%, #4361EE 60%, rgba(247, 37, 133, 0) 85%);
      ">
        <!-- Actual preview -->
        <img src="/img/home/app-preview.svg" alt="App Preview" class="relative" />

        <!-- Top right light -->
        <div class="absolute top-0 transform -translate-y-1/2" style="
          right: -10%;
          width: 69%;
          height: 27%;
          background-image: radial-gradient(50% 50% at calc(40% + var(--mx) * 10%) 50%, #3BC9DB22, transparent 75%);
        "></div>

        <!-- Bottom left light -->
        <div class="absolute top-full transform -translate-y-1/2" style="
          left: -10%;
          width: 69%;
          height: 27%;
          background-image: radial-gradient(50% 50% at calc(40% - var(--mx) * 10%) 50%, #F1298022, transparent 75%);
        "></div>
      </div>
      <div class="absolute z-40 w-full hidden md:block select-none pointer-events-none"
        style="right: -300px; top: -550px; height: 650px">
        <div class="absolute inset-0" style="
            background-image: conic-gradient(
              from 110deg at 90% -100%,
              #0000 80deg,
              #ffffff18 84deg,
              #ffffff1a 85deg,
              #ffffff19 86deg,
              #ffffff19 87deg,
              #ffffff2c 90deg,
              #ffffff2c 91deg,
              #ffffff24 93deg,
              #ffffff25 95deg,
              #ffffff23 97deg,
              #0000 100deg
            );
            mask-image: linear-gradient(to bottom, #fff 50%, transparent);
            -webkit-mask-image: linear-gradient(
              to bottom,
              #fff 50%,
              transparent
            );
          ">
          <div id="dust-canvas-wrapper" class="absolute inset-0" style="
              mask-image: conic-gradient(
                from 110deg at 90% -100%,
                #0000 65deg,
                #ffffff18 84deg,
                #ffffff1a 85deg,
                #ffffff19 86deg,
                #ffffff19 87deg,
                #ffffff2c 90deg,
                #ffffff2c 91deg,
                #ffffff24 93deg,
                #ffffff25 95deg,
                #ffffff23 97deg,
                #0000 115deg
              );
              -webkit-mask-image: conic-gradient(
                from 110deg at 90% -100%,
                #0000 65deg,
                #ffffff18 84deg,
                #ffffff1a 85deg,
                #ffffff19 86deg,
                #ffffff19 87deg,
                #ffffff2c 90deg,
                #ffffff2c 91deg,
                #ffffff24 93deg,
                #ffffff25 95deg,
                #ffffff23 97deg,
                #0000 115deg
              );
            ">
            <canvas id="dust-canvas" width="100%" height="100%"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Track everything, all in one place -->
<section id="track" class="relative sm:mx-4 px-px pt-px rounded-t-4xl overflow-hidden" style="
    background-image: linear-gradient(180deg, #fff1 0%, transparent 100%),
      radial-gradient(farthest-corner at 65% 0%, #fff4 0%, transparent 50%);
  ">
  <div class="relative pt-22 pb-11 px-8 rounded-t-4xl overflow-hidden bg-black">
    <div class="absolute top-0 left-1/2 transform -translate-x-1/2">
      <%= render partial: "partials/home/track_everything/bg" %>
    </div>
    <div class="absolute inset-0" style="box-shadow: inset 0 0 100px 100px #16161a"></div>
    <div class="relative text-center">
      <h2 class="font-display text-3xl md:text-4xl font-semibold">
        <span class="gradient-heading">Track</span>
        <span class="gradient-heading">everything,</span>
        <br class="hidden sm:inline" />
        <span class="gradient-heading">all</span>
        <span class="gradient-heading">in</span>
        <span class="gradient-heading">one</span>
        <span class="gradient-heading">place</span>
      </h2>
      <p class="mt-1 text-lg sm:max-w-xl mx-auto text-gray-50">
        Stop wrangling custom sheets and jumping between browser tabs.
        Maybe brings all of your accounts under one roof, automatically.
      </p>
      <div class="mt-64 pt-32">
        <%= render partial: "partials/home/track_everything/features" %>
      </div>
    </div>
  </div>
</section>

<!-- Ask an advisor - Yes, a real one -->
<section id="ask-my-advisor" class="relative sm:mx-4 py-11 px-8 overflow-hidden">
  <div class="absolute -z-10 top-0 left-1/2 transform -translate-x-1/2">
    <%= render partial: "partials/home/ask_my_advisor/bg" %>
  </div>
  <div class="absolute inset-0 shadow-edge-sm md:shadow-edge-md lg:shadow-edge-lg"></div>
  <div class="relative text-center">
    <h2 class="font-display text-3xl md:text-4xl font-semibold">
      <span class="gradient-heading">Ask</span>
      <span class="gradient-heading">an</span>
      <span class="gradient-heading">advisor.</span>
      <br class="hidden sm:inline" />
      <span class="gradient-heading">Yes,</span>
      <span class="gradient-heading">a</span>
      <span class="gradient-heading">real</span>
      <span class="gradient-heading">one.</span>
    </h2>
    <p class="mt-1 text-lg sm:max-w-xl mx-auto text-gray-50">
      No video calls, no calendar invites, just ask any question on your own time and get it answered by qualified
      professionals.
    </p>
    <div class="mt-64 pt-32">
      <%= render partial: "partials/home/ask_my_advisor/features" %>
    </div>
  </div>
</section>

<!-- Simulate your financial maybes -->
<section id="forecast" class="relative sm:mx-4 py-11 px-8 overflow-hidden">
  <div class="absolute -z-10 left-1/2 transform -translate-x-1/2">
    <%= render partial: "partials/home/simulate_maybes/bg" %>
  </div>
  <div class="absolute inset-0" style="box-shadow: inset 0 0 75px 100px #16161a"></div>
  <div class="relative text-center">
    <h2 class="font-display text-3xl md:text-4xl font-semibold">
      <span class="gradient-heading">Simulate</span>
      <span class="gradient-heading">your</span>
      <br class="hidden sm:inline" />
      <span class="gradient-heading">financial</span>
      <span class="gradient-heading">maybes</span>
    </h2>
    <p class="mt-1 text-lg sm:max-w-xl mx-auto text-gray-50">
      Run simulations to visualize different milestones like reaching financial independence, starting a business or
      buying your first home.
    </p>
    <div class="mt-64 pt-32">
      <%= render partial: "partials/home/simulate_maybes/features" %>
    </div>
  </div>
</section>

<!-- A few more things you may want to know -->
<section class="relative sm:mx-4 pt-11 pb-23 px-8 overflow-hidden">
  <div class="absolute -z-10 top-0 left-1/2 transform -translate-x-1/2">
    <%= render partial: "partials/home/few_more_things/bg" %>
  </div>
  <div class="absolute inset-0" style="box-shadow: inset 0 0 100px 100px #16161a"></div>
  <div class="relative text-center">
    <h2 class="font-display text-3xl md:text-4xl font-semibold">
      <span class="gradient-heading">A</span>
      <span class="gradient-heading">few</span>
      <span class="gradient-heading">more</span>
      <span class="gradient-heading">things</span>
      <br class="hidden sm:inline" />
      <span class="gradient-heading">you</span>
      <span class="gradient-heading">may</span>
      <span class="gradient-heading">want</span>
      <span class="gradient-heading">to</span>
      <span class="gradient-heading">know</span>
    </h2>
    <p class="mt-1 text-lg sm:max-w-xl mx-auto text-gray-50">
      Security, community and transparency are things we value. Instead of just mentioning them, here’s how we’re
      putting them to action.
    </p>
    <div class="mt-12">
      <%= render partial: "partials/home/few_more_things/features" %>
    </div>
  </div>
</section>

<!-- Get started CTA -->
<section class="relative sm:mx-4 px-px pb-px rounded-b-4xl overflow-hidden" style="
    background-image: linear-gradient(0deg, #fff1 0%, transparent 100%),
      radial-gradient(farthest-corner at 50% 100%, #fff4 0%, transparent 50%);
  ">
  <div class="relative rounded-b-4xl overflow-hidden bg-black">
    <%= render "partials/get-started" %>
  </div>
</section>